[submodule "src/cppGUI"]
	path = src/cppGUI
	url = https://github.com/marc-sturm/cppGUI.git
[submodule "src/cppCORE"]
	path = src/cppCORE
	url = https://github.com/marc-sturm/cppCORE.git
[submodule "src/cppXML"]
	path = src/cppXML
	url = https://github.com/marc-sturm/cppXML.git
